{
    "presets": [
        "react-native"
    ],
    "plugins": [
        [
            "module-alias",
            [
                {
                    "src": "./app/components",
                    "expose": "components"
                },
                {
                    "src": "./app",
                    "expose": "app"
                },
                {
                    "src": "./app/data",
                    "expose": "data"
                }
            ]
        ]
    ]
}